.img-size{
    height : 14%;
    width : 8%;
}
.btn {
      border: 2px solidwhite;
      background-color: white;
      color: black;
      padding: 9px 30px;
      font-size: 16px;
      cursor: pointer;
}
.bs-example{
    margin: 20px;
}
.alert{
    width: 400px;
    height: 50px;
}