{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <title>Friends</title>
</head>
<body>
<div class="container"><br>
    <h1>Following!</h1>
    {% if fr %}
        {% for name,image in fr.items %}
            <img src="{{ image.url }}" class="img-size img-fluid rounded-circle">
            <a href="/View_Profile/?friend={{name}}" style="color:slategray; font-size:18px">{{name}}</a>
            <a href="Remove/?friend={{ name }}" class="btn btn-info outline">Unfollow</a>
        <br><br>
        {% endfor %}
    {% else %}
        <p>No Friends to show !?</p>
    {% endif %}
    <a href="{% url 'Add_Friend' %}" style="font-size:20px"><b>Add Friends</b></a>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}